
:root {
    /* navbar */
    --navbar-color: var(--light-color);
    --navbar-background-color: var(--primary-color);
    --navbar-border-edge-color: var(--secondary-color);
    --navbar-padding-x: calc(var(--spacer) * 0.1);
    --navbar-padding-y: calc(var(--spacer) * 0.2);

    /* nav-item */
    --nav-item-padding-x: var(--spacer-1);
    --nav-item-padding-y: calc(var(--spacer) * 0.2);
    --nav-item-color: var(--light-color);
    --nav-item-color-hover: var(--white-color);
    --nav-item-color-disabled: var(--secondary-color);

    --navitem-color: var(--dark-color);
    --navitem-color-hover: var(--dark-color);
    --navitem-color-active: var(--dark-color);
    --navitem-color-disabled: var(--light-color);
    --navitem-background-color: inherit;
    --navitem-background-color-hover: inherit;
    --navitem-background-color-active: inherit;
    --navitem-background-color-disabled: inherit;
    --navitem-font-weight: var(--font-weight-normal);
    --navitem-font-weight-active: var(--font-weight-bold);
    --navitem-font-weight-hover: var(--font-weight-bold);
    --navitem-font-weight-disabled: var(--font-weight-light);
    --navitem-padding: calc(var(--spacer) * 0.5) var(--spacer);

    /* sidebar */
    --sidebar-color: var(--light-color);
    --sidebar-background-color: var(--black-color);
    --sidebar-border-edge-color: var(--light-color);
    --sidebar-padding-x: calc(var(--spacer) * 0.1);
    --sidebar-padding-y: calc(var(--spacer) * 0.2);
}
