
:root {
    /* button */
    --button-background-color: var(--control-color);
    --button-background-color-hover: var(--control-color-hover);
    --button-background-color-active: var(--control-color-active);
    --button-background-color-disabled: var(--control-color-disabled);
    --button-color: var(--dark-color);
    --button-color-hover: var(--light-color);
    --button-color-active: var(--light-color);
    --button-color-disabled: var(--light-color);
    --button-font-weight: var(--font-weight-normal);
    --button-font-weight-hover: var(--font-weight-bold);
    --button-font-weight-active: var(--font-weight-bold);
    --button-font-weight-disabled: var(--font-weight-normal);
    --button-font-weight-default: var(--font-weight-semibold);
    --button-border: none;
    --button-border-color: var(--black-color);
    --button-border-radius: var(--border-radius);
    --button-border-radius-left: var(--button-border-radius);
    --button-border-radius-right: var(--button-border-radius);
    --button-font-size: var(--font-size-normal);
    --button-padding-x: 0.45em;
    --button-padding-y: 0.45em;
    --button-offset-active: 0.1em;
    --button-group-divider-color: var(--light-color);

    /* close */
    --button-control-padding-x: 0;
    --button-control-padding-y: 0;
    --button-control-color: var(--control-color);
    --button-control-color-hover: var(--control-color-hover);
    --button-control-color-active: var(--control-color-active);
    --button-control-color-disabled: var(--control-color-disabled);

    /* control button group */
    --control-button-group-margin-y: 0.45em;
    --control-button-group-margin-x: 0.3em;
}
