name: Publish Docs
on:
  push:
    branches:
      - main
jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 'latest'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@mutablelogic'
    - name: Lint
      run: |
        npm ci
        npm run lint
